<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Admin/IdeaProjects/APITestingPrograms">
        <classes>
            <class name="org.example.Lab03_ConceptTestNG">
                <methods>
                    <include name="positive_TC1"/>
                    <include name="positive_TC2"/>
                    <include name="positive_TC3"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>